@if (game.players(); as players) {
  <div class="container">
    <app-player
      id="player1"
      class="container-item"
      [player]="players[0]"
      [hasTurn]="game.currentPlayerId() === PlayerId.ONE && !game.isOver()"
      [remainingDisks]="game.remainingDisks(PlayerId.ONE)"
    ></app-player>

    <app-board id="board" class="container-item"></app-board>

    <app-player
      id="player2"
      class="container-item"
      [player]="players[1]"
      [hasTurn]="game.currentPlayerId() === PlayerId.TWO && !game.isOver()"
      [remainingDisks]="game.remainingDisks(PlayerId.TWO)"
    ></app-player>
  </div>

  @if (game.isOver()) {
    <app-game-over
      [winner]="game.winner()"
      (restart)="game.restartWithSamePlayers()"
      (changePlayers)="changePlayers()"
    ></app-game-over>
  }
}
