.card {
  width: 100%;
  aspect-ratio: 3/4;

  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border-radius: 20px;
  transition: all .3s;

  display: flex;
  flex-direction: column;
}

.card2 {
  width: 100%;
  height: 100%;
  background-color: var(--mat-sys-surface);
  transition: all .2s;
}

.card2.has-turn {
  transform: scale(0.98);
  border-radius: 20px;
}

.player-container{
  padding: 0.5rem;
}

.player-text{
  text-align: center;
  font-size: 1.5rem;
}

.disk-container{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.6rem;
  padding: 0.6rem;
}
