.card {
  width: 100%;
  aspect-ratio: 3/4;

  background-color: var(--player-color);
  border-radius: 20px;
  transition: all .3s;

  display: flex;
  flex-direction: column;
}

.card2 {
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all .2s;
}

.card.has-turn {
  box-shadow: 0 0 30px 1px var(--player-color);
}

.card2.has-turn {
  transform: scale(0.98);
  border-radius: 20px;
}

.player-container{
  padding: 0.5rem;
}

.player-text{
  text-align: center;
  font-size: 1.5rem;
}

.disk-container{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.6rem;
  padding: 0.6rem;
}
