.card {
  width: 190px;
  height: 254px;
  background-color: var(--player-color);
  border-radius: 20px;
  transition: all .3s;
}

.card2 {
  width: 190px;
  height: 254px;
  background-color: white;
  transition: all .2s;
}

.card.has-turn {
  box-shadow: 0 0 30px 1px var(--player-color);
}

.card2.has-turn {
  transform: scale(0.98);
  border-radius: 20px;
}

.player-container{
  padding: 0.5rem;
}

.player-title{
  text-align: center;
  font-size: 1rem;
}
